body{
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    margin:0;
}
section{
    height:100%;
    width:100%;
    padding-top: 300px;
    padding-left: 450px;
}
p{
    font-size: xx-large;
}
button{
    font-size: x-large;
    color:rgb(136, 126, 222);
    text-shadow: 3ch;
}